{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my_site/style.css' %}">
    <title>Home Cleaning</title>
</head>
<body>
    <div class="blur">
        <nav>
            <ul>
                <li><a href={% url 'home' %}>Home</a></li>
                <li><a href={% url 'service' %}>Service</a></li>
                <li><a href={% url 'contacts' %}>Contacts</a></li>
            </ul>
        </nav>

        <div class="content">
            {% block contacts %}{% endblock contacts %}
            {% block home %}{% endblock home %}
            {% block serv %}{% endblock serv %}
        </div>

        <footer>
            Written by ranoke
        </footer>
    </div>
</body>
</html>