{% extends 'my_site/base.html' %}
{% load static %}

{% block home %}
<div class='serv'>
<h1>CLEANING SERVICES IN PHILADELPHIA</h1>

<p >Always there for existent and new customers,
    we are ready to answer even short notice calls,
    we will make sure to take your booking or any
    kind of emergencies. Our company can organise
    and send cleaners to deal with an end of
    tenancy cleaning, carpet cleaning, domestic 
    cleaning or office cleaning.</p>
</div>
<div class='phil'>
<img src="{% static 'my_site/img/phil111.png' %}" alt="philadephia area" > 
</div>
{% endblock home %}